/* ^ Generics */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ^ Utilities */
body {
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 149, 135) 80px, rgb(216, 217, 209) 80px);
    background-size: 100% 100%;
    padding-top: 20px;
}

.cs-text-color {
    color: rgb(177, 177, 177);
}

.input-group-text {
    background-color: white;
    border-color: rgb(177, 177, 177);
}

#contact-list {
    max-height: 100%;
    overflow-y: auto;
}

#contact-list li {
    margin: 20px 0;
}

.form-control {
    background-color: white;
    border-color: rgb(177, 177, 177);
}

.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

/* ^ Main */

#app-container {
    margin: 0 auto;
    height: 650px;
    border: 2px dotted gold;

}

#row-app {
    height: 100%;

}

[class^="col"] {
    height: 100%;
    border: 2px dotted forestgreen;
    padding: 0;
    background-color: rgb(250, 250, 250);
    overflow-y: auto;
}

/* ^ User/Contacts column */
#user-head {
    min-height: 50px;
    background-color: rgb(234, 234, 234);
    padding: 5px;
}

#user-head img,
#contact-img img,
.contacts-img img {
    max-width: 50px;
    border-radius: 50px;
}

#notifications {
    min-height: 60px;
    background-color: rgb(142, 218, 252);
}

#label p,
#label a {
    margin: 0;
    font-size: 0.8rem;
}

#notifications-icon {
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
    color: aqua;
}

/* ^ Chat column */

#chat-head {
    min-height: 50px;
    background-color: rgb(234, 234, 234);
    padding: 5px;
}

/* TODO: Add chat section and messagebar style  */
#chat {

    background-image: url(../assets/img/mine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#user-messagebar {
    min-height: 30px;
    background-color: rgb(234, 234, 234);
    border: 2px dotted blue;
}