/* ^ CUSTOM COLORS */
.bg-cs-gray {
    background-color: rgb(234, 234, 234);
}

.bg-cs-ligehtblu{
    background-color: rgb(142, 218, 252);
}

.cl-cs-lightblue{
    color: rgb(142, 218, 252);
    
}

.cl-cs-darkgray {
    color: rgb(111, 111, 111);
}



/* ^ GENERICS */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

/* ^ UTILITIES */
body {
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 149, 135) 80px, rgb(216, 217, 209) 80px);
    background-size: 100% 100%;
    padding-top: 30px;
    overflow: hidden;
}


.profile img {
    max-width: 50px;
    border-radius: 50px;
    cursor: pointer;
}

.form-control {
    background-color: white;
    border-color: rgb(177, 177, 177);
}

.form-control:focus {
    border-color: transparent;
    box-shadow: none;
    border-color: rgb(177, 177, 177);
}

.input-group-text{
    background-color: white;
    border-color: rgb(177, 177, 177);
}

#contacts-list li:hover {
    background-color: rgb(142, 218, 252);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2)
  }

  #contacts-list::-webkit-scrollbar {
    display: none;
  }

  #chat-display::-webkit-scrollbar {
    display: none;
  }

#msg:focus {
    outline: none; 
  }
 


/* ^ MAIN */
.container.row {
    height: 90vh;
    max-width: 80%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2)
}

#profile img {
    max-width: 50px;
    border-radius: 50px;
}

/* * Left col */
#label p,
#label a {
    margin: 0;
    font-size: 0.8rem;
}

#notifications-icon {
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
}



  #contacts-list{
    height: 450px;
  }

  /* * right col */
.last-access{
    font-size: 0.8rem;
}

#utilities ul{
    padding: 20px;
}

#chat-display {
    height: 450px;
    background-image: url(../assets/img/mine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* TODO:
    .chat-display-contactnull{
    background-image: url(../assets/img/chat-elements_1284-669.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
*/

.message{
  border-radius: 20px;
  padding: 10px 25px;
  margin: 10px;
  max-width: 70%;
}

.message.sent{
  align-self: flex-end;
  text-align: right;
  background-color: rgb(165, 243, 106);

}

.message.received{
    align-self: flex-start;
    text-align: left;
    background-color: white;
}

#chat-display time{
    font-size: 0.6rem;
    text-align: right;
    display: block;
}


#message-bar .msg-bar{
    margin: 0!important
}